/all_comments.json
/comments_with_relevance.json
/comments_with_embeddings.json
/categorized_comments.json
/useful_comments.json
/useful_comments_with_embeddings.json
/useful_comments_with_embeddings_categorized.json
